aabbtree
bidict
black
cairosvg
jsonpickle
jupyter
matplotlib
numpy
opencv-python-headless
pandas
pillow
pre-commit
pydantic
pydantic-xml
pyright
pytest
pytest-cov
scikit-image # Used to rasterize polygon contours and for image skeleton computation
shapely
sphinx
sphinx-copybutton
sphinx-rtd-theme
svgpath2mpl
torch
torchvision
transformers
typer
typing-extensions
triangle
wandb